Answer each question by doing some operations with Python. Put conclusion in the comments

1.1 For the following variables, use the function type() from Python to check the data type for the variables.

In [5]:
x1 = 1.1
x2 = "Monday"
x3 = "1.1"
x4 = True
x5 = "True"
x6 = -1

In [19]:
type(x1)

float

In [21]:
type(x2)

str

In [23]:
type(x3)

str

In [25]:
type(x4)

bool

In [27]:
type(x5)

str

In [29]:
type(x6)

int

1.2 What is the difference between variables x1 and x3?

In [ ]:
# x1 is float and x3 string

1.3 What happens if you subtract x3 from x1?

In [31]:
x1-x3

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [ ]:
#We have an error because x3 is string type

1.4 What is the difference between variables x4 and x5?

In [17]:
#x4 is bool type and x5 string

1.5 What happens if you subtract x5 from x4?

In [33]:
x4-x5

TypeError: unsupported operand type(s) for -: 'bool' and 'str'

2.1 To gather input from the user, we can use the function input(message), where “message” is a meaningful message of type str and will be displayed to the user.

In [ ]:
#x4 is bool and x5 string so there's an error

Please enter an integer number: 2
Please enter another integer number: 3

Question 1: Print the values of the two variables? As you might have noticed, data type of x1 and x2 is string. Even though we entered integers, the input function converts them into string by default. Now we do some data type conversion from string to integers:

In [44]:
x1=int(input('add first variable'))
x2=input('add first variable')
x2=int(x2)

#para x1 lo hicimos todo en un renglon y para x2 en dos, en la 2da opcion : tienes que hacer primerp input & luego int

add first variable 4
add first variable 5

Question 2: What is the data type of x1 and x2? Now perform simple comparisons between x1 and x2:

Check if the two variables are equal?

Check if x1 is greater than x2?

Check if x2 is greater than x1?

Check if x1 is not equal to x2?

Store the difference between the two variables x1 and x2 in another variable x3 (subtract the smaller number from the larger number).

Increment the smaller of the two variables (x1 and x2) with the difference.Use the shorthand addition operator for the same. Again check if x1 and x2 are equal or not?

In [55]:
type(x1)

int

In [5]:
type(x2)

int

In [49]:
x1==x2

False

In [59]:
x1>x2

False

In [63]:
x1<x2

True

In [46]:
x1 != x2

True

In [50]:
x1

4

In [52]:
x3 = x2-x1

In [54]:
x3

1

In [58]:
#Use the shorthand addition operator for the same. Again check if x1 and x2 are equal or not?
x1 += x3

In [60]:
x1

5

In [70]:
x1 == x2

True

# List

In [ ]:
l1=[2,3]

In [3]:
type(l1)

list

In [5]:
l2=[]

In [7]:
type(l2)

list

In [9]:
l3=list("EDC")

In [11]:
l3

['E', 'D', 'C']

In [13]:
l3[2]
#regresa la C porque se cuenta 0, 1, 2; entonces el elemento 2 seria C

'C'

In [16]:
l3.append("!")

In [18]:
l3

['E', 'D', 'C', '!']

In [20]:
len(l3)

4

In [22]:
l4=[1,2,3,4]

In [26]:
sum(l4)

10

In [28]:
l3.reverse()

In [30]:
l3

['!', 'C', 'D', 'E']

In [42]:
lists=[[1,2,3],[4,5,6],[7,8,9]]

In [44]:
lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
lists[0]

[1, 2, 3]

In [48]:
lists[0][0]

1

In [58]:
d={1:"EDC1",
2:"EDC2"}

In [52]:
d

{1: 'EDC1', 2: 'EDC2'}

In [54]:
d[1]

'EDC1'

In [60]:
di={"Tom":[2009,"English"]}

In [62]:
di

{'Tom': [2009, 'English']}

In [64]:
di["Tom"]

[2009, 'English']

In [66]:
t=(2,3,4)

In [68]:
tuple

tuple

In [70]:
5 in t

False

In [72]:
5 in l4

False

In [74]:
s={"a","b","c"}

In [78]:
s

{'a', 'b', 'c'}

In [80]:
s1={"a","b","c","c"}

In [82]:
s1

{'a', 'b', 'c'}

In [86]:
s1[0]

TypeError: 'set' object is not subscriptable