1. Write a function that takes an integer HOURS and converts it to SECONDS.
2. Given a list of numbers. write a program to turn every item of a list into Its square
3. Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.
4. Get the key of a minimum value from the given dictionary
5. Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become
1 + 11 + 111 + 1111 + 11111
6. Calculate multiplication of two random float numbers (generate random number first)

In [4]:
#Write a function that takes an integer HOURS and converts it to SECONDS
def hours_to_seconds(hour) :
  return hour * 3600

In [7]:
print(hours_to_seconds(2))

7200

In [9]:
#Given a list of numbers. write a program to turn every item of a list into Its square
numbers = [1,2,3,4,5,6,7,8,9]
for i in range(len(numbers)):
  numbers[i] = numbers[i]**2

In [10]:
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
#Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.
s1="abcdef"
s2="ghijk"

def combine_strings(s1, s2):
    s3 = ""
    len1 = len(s1)
    len2 = len(s2)

    min_len = min(len1, len2)

    for i in range(min_len):
        s3 += s1[i] + s2[-(i + 1)]

    #Any leftover chars go at the end of the result.
    if len1 > len2:
        s3 += s1[min_len:]
    elif len2 > len1:
        s3 += s2[:len2 - min_len][::-1]

    return s3

result = combine_strings (s1,s2)

In [18]:
print(result)

akbjcidhegf

In [21]:
#Get the key of a minimum value from the given dictionary
def key_of_min_value(d):
    return min(d, key=d.get)

my_dict = {'a': 5, 'b': 2, 'c': 9, 'd': 1, 'e': 0}
min_key = key_of_min_value(my_dict)

In [22]:
print(min_key)

e

In [23]:
#Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 1 + 11 + 111 + 1111 + 11111
def sum_series(n):
    total = 0
    current_term = 0
    for _ in range(n):
        current_term = current_term * 10 + 1  # generates 1, 11, 111, ...
        total += current_term
    return total


n = 5
result = sum_series(n)
print(f"The sum of the series up to {n} terms is: {result}")

The sum of the series up to 5 terms is: 12345

In [24]:
#Calculate multiplication of two random float numbers (generate random number first)
import random

# Generate two random float numbers between 0 and 1
num1 = random.random()
num2 = random.random()

# Calculate the multiplication
result = num1 * num2

print(f"First random number: {num1}")
print(f"Second random number: {num2}")
print(f"Multiplication result: {result}")

First random number: 0.35556542668649516
Second random number: 0.6856036108306738
Multiplication result: 0.24377694042281028